{% extends "layout.html" %}

{% block content %}
<h2 class="content-subhead">Search</h2>

<form action="{{ url_for('search') }}" method="get">
    <input name="query" value="{{ query }}">
    <button type="submit">Search</button>
</form>

{% if query %}
  {% if results %}
    <h2 class="content-subhead">Results for '{{ query }}'</h2>
    <ul>
      {% for result in results %}
      <li>
        <h4>{{ result['ch_name'] }}</h4>
        <ul>
          {% for paragraph in result['p_matches'] %}
            <li>
              <a href="{{ url_for('chapter_contents', ch_num=result['ch_num']) }}#p{{ paragraph['p_num'] }}">
                {{ paragraph['p_text'] | highlight_query(query) }}
              </a>
            </li>
          {% endfor %}
        </ul>
      </li>
      {% endfor %}
    </ul>
    {% else %}
      <p>Sorry, no matches were found.</p>
  {% endif %}
{% endif %}
{% endblock %}